.nav-link.active{
    border:none !important;
    border-bottom:3px solid purple !important;
    color: black !important;
    text-decoration: none !important;
}
.nav-tabs{
    padding-top: 10px !important;
    border: none !important;
    padding-right: 10px;
    padding-left: 10px;
}
a{
    text-decoration: none !important;
    color: black !important;
    font-size: medium;
}
.form-height{
    min-height: 400px !important;
    /* max-height: 1000px !important; */
    background-color: white;
}
.col-sm-12{
    margin-top: 50px;
}
.submitbtn{
    margin-top: 100px !important;
    bottom: 0px !important;
    background-color: white;
}

.tab-pane{
    overflow-x: visible !important;
}
@media(min-width:700px){
    .namewidth{
        width: 97.8% !important;
    }
}
@media(max-width:1000px){
    .namewidth{
        width: 95% !important;
    }
}

label{
    padding-bottom: 1em;
}
